<div class="app-container">
    <aside class="side-menu">
        <img class="logo-gat" src="../assets/images/gat_gat-logo.png" alt="Logo GAT">

        <div class="links">
            <a routerLink="/table" class="link">Tabela</a>
            <a routerLink="/considerations" class="link">Considerações</a>
        </div>
    </aside>

    <div class="main-container">
        <header>
            <gat-header></gat-header>
        </header>

        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>