<p>
  Foi legal construir esta tabela. Sempre que trabalhei com tabelas, foi usando algum framework para isso, mas criar uma tabela do zero foi bem interessante.
</p>
<p>
  Infelizmente ao longo da semana, não tenho muito tempo em casa.<br>
  Tive duas horas por dia desde terça-feira, pois trabalho longe e preciso dormir cedo para acordar cedo.
</p>
<p>
  Criei um mock com o angular-in-memory-web-api para simular um back-end e fazer requisições HTTP.
</p>
<p>
  Ainda existem alguns erros que encontrei ao fazer alguns testes que não tive tempo de reparar.<br>
  Por exemplo:
</p>
  <ul>
    <li>-O popup ainda não está em condições perfeitas, pois está saindo da tela na parte de cima da tela;</li>
    <li>-O menu não está com ícones e poderia ter um botão para fazer ele aparecer, mas não programei ele para funcionar em telas de celulares;</li>
    <li>-É preciso refatorar o código para que fique com uma performance melhor, usando resolvers e ngrx para controle de estado da aplicação e etc...;</li>
    <li>-A tabela poderia ter as colunas de título fixadas no topo, para que saibamos o que significa cada informação nas linhas ao longo das colunas;</li>
    <li>-Poderia ter feito um uso melhor do SCSS, com variáveis, códigos de estilos específicos para aplicações diferentes e com isso, apenas usar o import e pronto;</li>
    <li>-O menu poderia ter ficado em um component separado e assim evitando de escrever código de estilo do app.component.scss;</li>
    <li>-A busca poderia filtrar por todas as colunas, mas o ideal é fazer isso no Back-end.</li>
  </ul>

<p>
  Muito obrigado pela oportunidade de realizar este desafio. Me desculpem pela demora, mas as últimas semanas foram um pouco difíceis.<br>
  Eu sei que posso fazer muito melhor do que fiz, com uma estrutura melhor e código melhor, mas não queria
  demorar tanto para entregar o desafio e não fazer vocês esperarem mais.
</p>
